# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e o preço dos nossos produtos é vinculado a cotação de:
- Dólar
- Euro
- Ouro

Precisamos pegar na internet, de forma automática, a cotação desses 3 itens e saber quanto devemos cobrar pelos nossos produtos, considerando uma margem de contribuição que temos na nossa base de dados.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=sharing

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [15]:
#Passo 1 - Entrar na internet
#Baixar selenium pelo anaconda
#Baixar chromedriver
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

navegador = webdriver.Chrome()
navegador.maximize_window()


#Passo 2 - Pagar cotação do dolar
#entrar no google
navegador.get("https://www.google.com/")

#pesquisar "cotação dolar"
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação dolar brasil")
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
#Pagar o numeroque aparece no google
cotacao_dolar=navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
print(cotacao_dolar)


#Passo 3- Pagar cotação do Euro
navegador.get("https://www.google.com/")

#pesquisar "cotação dolar"
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação euro brasil")
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
#Pagar o numeroque aparece no google
cotacao_euro=navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
print(cotacao_euro)

#Passo 4 - Pagar cotação do Ouro
#Entrar no site  melhor cambio
navegador.get("https://www.melhorcambio.com/ouro-hoje")

#Pegar a cotação
cotacao_ouro=navegador.find_element_by_xpath('//*[@id="comercial"]').get_attribute("value")
cotacao_ouro= cotacao_ouro.replace(",",".")
print(cotacao_ouro)

navegador.quit()

5.2197
6.130120074000001
294.12

### Agora vamos atualiza a nossa base de preços com as novas cotações

- Importando a base de dados

In [13]:
#Passo 5 - Importar e atualizar a base de dados
#se tiver outras abas passa sheets=1(numero de abas) ou o nome
import pandas as pd

tabela= pd.read_excel("Produtos.xlsx")
display(tabela)

#Passo 6 - Exportar a base atualizada

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

- Atualizando os preços e o cálculo do Preço Final

### Agora vamos exportar a nova base de preços atualizada

In [20]:
#atualizar a cotação

tabela.loc[tabela["Moeda"] == "Dólar","Cotação"] = float(cotacao_dolar)
tabela.loc[tabela["Moeda"] == "Euro","Cotação"] = float(cotacao_euro)
tabela.loc[tabela["Moeda"] == "Ouro","Cotação"] = float(cotacao_ouro)
display(tabela)

#Atualizar o preço de compra
tabela["Preço de Compra"] = tabela["Preço Base Original"]*tabela["Cotação"]

#Atualizar preço de venda
tabela["Preço de Venda"] = tabela["Preço de Compra"]*tabela["Margem"]

display(tabela)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final,Preço de Compra,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.21970,4999.95,1.40,6999.930,1005.20970,1006.60970
1,Carro Renault,4500.00,Euro,6.13012,27000.00,2.00,54000.000,4506.13012,4508.13012
2,Notebook Dell,899.99,Dólar,5.21970,4499.95,1.70,7649.915,905.20970,906.90970
3,IPhone,799.00,Dólar,5.21970,3995.00,1.70,6791.500,804.21970,805.91970
4,Carro Fiat,3000.00,Euro,6.13012,18000.00,1.90,34200.000,3006.13012,3008.03012
5,Celular Xiaomi,480.48,Dólar,5.21970,2402.40,2.00,4804.800,485.69970,487.69970
6,Joia 20g,20.00,Ouro,294.12000,7000.00,1.15,8050.000,314.12000,315.27000

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final,Preço de Compra,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.21970,4999.95,1.40,6999.930,5219.647803,7307.506924
1,Carro Renault,4500.00,Euro,6.13012,27000.00,2.00,54000.000,27585.540333,55171.080666
2,Notebook Dell,899.99,Dólar,5.21970,4499.95,1.70,7649.915,4697.677803,7986.052265
3,IPhone,799.00,Dólar,5.21970,3995.00,1.70,6791.500,4170.540300,7089.918510
4,Carro Fiat,3000.00,Euro,6.13012,18000.00,1.90,34200.000,18390.360222,34941.684422
5,Celular Xiaomi,480.48,Dólar,5.21970,2402.40,2.00,4804.800,2507.961456,5015.922912
6,Joia 20g,20.00,Ouro,294.12000,7000.00,1.15,8050.000,5882.400000,6764.760000